<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" /> {% include 'snippets/header.html' %}
    <title>instagram</title>


</head>

<body>
    <!--body-->
    <style type="style.css">
        .main{ min-height: 100vh; height: 100%;}
    </style>
    <div class="main">
      {% block content %}
      {% endblock content %}
    </div>
    <!--end body-->
    {% include 'snippets/footer.html' %}
</body>

</html>
